@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;700&display=swap");

body {
  background-color: #f0f2f5 !important;
  font-family: "Poppins", sans-serif;
}

.MuiListItemButton-root.Mui-selected {
  background-color: transparent;
  color: #9c27b0;
}

.MuiListItemButton-root {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  display: none;
}

.MuiPopper-root {
  z-index: 9999;
}

.ragular-title {
  font-family: "Lato", sans-serif;
}
